$bakgrund: #040926;
$outline: #F8F1FF;
$text: #EDD382;

body{
  background-color: $bakgrund;
}

p{
  color: $text;
  font-size: 3vh;
  font-style: italic;
}

h1 {
  color:$text;
  font-size: 6vh;
  text-decoration:underline;
}

h2 {
  color: $outline;
}


/* bootstrap.css | file:///home/rasmusp/Desktop/Projekt%20%C3%A5r%204/node_modules/bootstrap/dist/css/bootstrap.css */

.navbar-brand {
  /* padding-top: 0.3125rem; */
  /* padding-bottom: 0.3125rem; */
  /* font-size: 1.25rem; */
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  font-size: 3vh;
  padding-left: 26vh;
}

.navbar-toggler-icon {
  /* width: 1.5em; */
  /* height: 1.5em; */
  width: 5vh;
  height: 5vh;
}

.navbar-toggler {
  margin-right: 1vh;
}


/* main.css | file:///home/rasmusp/Desktop/Projekt%20%C3%A5r%204/CSS/main.css */

.navbar-toggler {
  /* margin-right: 1vh; */
  margin-left: 37.6vh;
}

/* Element | file:///home/rasmusp/Desktop/Projekt%20%C3%A5r%204/sida.html */

.navbar {
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}


/* bootstrap.css | file:///home/rasmusp/Desktop/Projekt%20%C3%A5r%204/node_modules/bootstrap/dist/css/bootstrap.css */

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  /* color: rgba(0, 0, 0, 0.9); */
  color: rgba(0, 0, 0, 1);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  /* color: rgba(0, 0, 0, 0.7); */
}

.navbar-light .navbar-nav .nav-link {
  /* color: rgba(0, 0, 0, 0.5); */
  color: rgba(0, 0, 0, 1);
}

/* Element | file:///home/rasmusp/Desktop/Projekt%20%C3%A5r%204/sida.html# */

a.nav-item:nth-child(1) {
  font-size: 2.7vh;
  text-align: center;
  padding-top: 1.3vh;
  border: 1px;
}

/* Element | file:///home/rasmusp/Desktop/Projekt%20%C3%A5r%204/sida.html# */

a.nav-item:nth-child(2) {
  font-size: 2.7vh;
  text-align: center;
  padding-top: 1.3vh;
}

/* Element | file:///home/rasmusp/Desktop/Projekt%20%C3%A5r%204/sida.html# */

a.nav-item:nth-child(3) {
  font-size: 2.7vh;
  text-align: center;
  padding-top: 1.3vh;
}

/* Element | file:///home/rasmusp/Desktop/Projekt%20%C3%A5r%204/sida.html# */


/* Element | file:///home/rasmusp/Desktop/Projekt%20%C3%A5r%204/sida.html# */

.navbar-nav > ul:nth-child(1) {
  list-style-image: url("www.png");
}

/* main.css | file:///home/rasmusp/Desktop/Projekt%20%C3%A5r%204/CSS/main.css */

/* Element | file:///home/rasmusp/Desktop/Projekt%20%C3%A5r%204/sida.html# */

.navbar-nav > ul:nth-child(1) {
  list-style-image: url("www.png");
}

/* main.css | file:///home/rasmusp/Desktop/Projekt%20%C3%A5r%204/CSS/main.css */

.navbar-nav > ul:nth-child(1) {
  /* list-style-image: url("www.png"); */
}
